<h1>{{title}}</h1>

<form action="/user/add" method="post">
    <input type="text" name="name" placeholder="Enter name..." class="custom-input" />
    <input type="number" name="age" placeholder="Enter age..." class="custom-input" />
    <input type="submit" value="ADD" class="custom-btn" />

</form>
