<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    table {
      margin: auto;
    }

    th,
    td {
      padding: 4px;
      border: .5px solid rgb(138, 137, 137);
    }

    th {
      background: #ccc;
      padding: 16px;
      background: rgb(170, 18, 114);
      font-size: 18px;
    }

    button {
      border: 0px;
      padding: 7px;
      background: rgb(133, 14, 89);

    }

    .custom-btn {
      margin: auto !important;
      width: 200px;
      padding: 7px;
      background: rgb(133, 14, 89);
      border: 0px;
      font-size: 18px;
      color: white;
    }

    a {
      padding: 12px;
      text-decoration: none;
      color: white;
      font-size: 20px
    }

    .custom-input {
      padding: 7px;
    }

  </style>
</head>

<body>
  {{{body}}}
</body>

</html>
