<h1>{{title}}</h1>

<form action="/user/update/{{id}}" method="post">
    <input type="text" name="name" placeholder="Enter name..." value={{name}} class="custom-input" />
    <input type="number" name="age" placeholder="Enter age..." value={{age}} class="custom-input" />
    <input type="submit" value="Update" class="custom-btn" />

</form>
